.nav-link{
   color: blue;
}
.tab-content div{
    width: 100%;
    height: 40vh;
}
.category{
   border: 1px solid red;
   display: flex;
   flex-direction: column;
}
.category button{
   background-color: white;
   color: black;
   font-weight: bold;
   border: none;
   /* border-left: 1px solid gray;
   border-right: 1px solid gray; */
}
.category button:hover{
   background-color: green;
   color: white;
}
.imgSet img{
   height: 40vh;
   width: 100%;
}
#active{
   background-color: green;
   color: white;
}
