.mainpageNav{
    /* background-color: #e3f2fd; */
    background-color: rgb(235, 235, 117);
}
.mainpageBtn{
    width: 100px;
    height: 50px;
}
.category{
    padding-left: 0px;
    padding-right: 0px;
}